#!/usr/bin/make -f

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_HOST_ARCH      ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DEB_HOST_ARCH),amd64)
    GOARCH := amd64
else ifeq ($(DEB_HOST_ARCH),arm64)
    GOARCH := arm64
endif

%:
	dh $@

override_dh_auto_build:
	CGO_ENABLED=1 \
	GOOS=linux \
	GOARCH=$(GOARCH) \
	CC=$(DEB_HOST_GNU_TYPE)-gcc \
	CGO_CFLAGS="" \
	CGO_LDFLAGS="" \
	go build -buildmode=c-shared -o pam_ussh.so

override_dh_usrlocal: