name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.24', '1.25' ]
    steps:
    - uses: actions/checkout@v5

    - name: Install required packages
      run: sudo apt-get install -y libpam0g-dev
      
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}
    - run: go test -cover
    - run: go build -buildmode=c-shared -o pam_ussh.so
