name: Release

on:
  release:
    types: [published]

permissions: {}

jobs:
  build-deb:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        arch: [amd64, arm64]
    steps:
    - uses: actions/checkout@v6
    
    - uses: jtdor/build-deb-action@v1
      env:
        DEB_BUILD_OPTIONS: noautodbgsym
      with:
        buildpackage-opts: --build=binary --no-sign
        host-arch: ${{ matrix.arch }}
    
    - name: Checksum package
      run: |
        cd debian/artifacts
        sha256sum pam-ussh_${GITHUB_REF#v}_${{ matrix.arch }}.deb > pam-ussh_${GITHUB_REF#v}_${{ matrix.arch }}.deb.sha256sum
    
    - name: Upload artifact
      uses: actions/upload-artifact@v6
      with:
        name: deb-${{ matrix.arch }}
        path: |
          debian/artifacts/*.deb
          debian/artifacts/*.deb.sha256sum
  
  release:
    needs: build-deb
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/download-artifact@v7
      with:
        path: artifacts
        pattern: deb-*
        merge-multiple: true
    
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          artifacts/*.deb
          artifacts/*.deb.sha256sum
